
0. Glove Dictionary/training.full.csv
2. Prepare Data/complete/train.csv
2. Prepare Data/training.full.csv
3. model_training/data/eval/eval.json
2. Prepare Data/complete/train.json
3. model_training/data/eval/eval.json
3. model_training/data/dev/dev.json
3. model_training/data/eval/eval.json
*.json
